.footer {
    padding: 10px; /* Reduced from 20px for a thinner appearance */
    background-color: #6f6781; /* Adjust the color as needed for your design */
    color: white;
    text-align: center;
    /* Other styles as necessary */
  }
  