.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  height: 100vh; /* This ensures the section takes up the full viewport height */
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  text-align: center;
  background-color: #6F6781; /* Adjust the background color as needed */
}

.hero-content h1 {
  font-family: 'Quantico', sans-serif;
  font-size: 5rem; /* Large, readable text */
  color: #ffffff; /* Darker text for contrast */
}

.hero-content .catchphrase {
  font-family: 'Quantico', sans-serif;
  font-size: 2.5rem;
  color: #e3e3e3; /* Subtle grey */
  margin-top: 20px; /* Space between title and catchphrase */
}

.hero-content .mission-statement {
  font-size: 1.2rem;
  color: #c1c1c1; /* Slightly darker grey */
  margin-top: 10px; /* Space between catchphrase and mission statement */
}

.slideshow {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adds space between the hero section and the iframe */
}

iframe {
  width: 960px; /* Specify the width to control the size of the iframe */
  height: 569px; /* Specify the height to maintain aspect ratio */
  border: none; /* Remove border for a cleaner look */
}
