/* src/pages/Home.css */
.home {
  width: 100%;
  min-height: 100vh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligns content to the right */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
}

.hero-content {
  max-width: 40%; /* Adjust as needed */
  margin-right: 5%; /* Right spacing */
  color: #000000; /* Text color */
  text-align: right; /* Aligns text to the right */
  font-weight: bold; /* Optional: if you want the font to be bold */
  font-size: 1.2rem; /* Adjust the size as you like */

}

.join-btn {
  padding: 10px 20px;
  background-color: #201D3C; /* Theme color */
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Quantico', sans-serif; /* Replace with your font choice if different */
  margin-top: 20px;
  margin-right: 20%; /* Right spacing */

}

/* src/pages/Home.css */
.how-it-works-section {
  padding: 50px 20px;
  background-color: #fff; /* Optional: depending on your design preference */
  text-align: center;
}

.steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.step {
  flex-basis: 20%; /* Adjust based on your layout preference */
  min-width: 280px; /* Ensure it doesn't get too small on narrow screens */
  max-width: 340px; /* Limit max size */
}

.step-icon {
  color: #4a90e2; /* Example color */
  margin-bottom: 20px;
}

.step h3 {
  color: #333;
  margin-bottom: 10px;
}

.step p {
  font-size: 16px;
  color: #666;
  line-height: 1.4;
}

