@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Quantico', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header, .footer {
  font-family: 'Quantico', sans-serif;
}

.hero-section, .about-section, .opportunities-section, .technology-section {
  padding: 100px 20px;
  text-align: center;
}

/* Resets the margin and padding to ensure consistency across browsers */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Applies a flex column layout to the entire app container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Uses the viewport height to ensure that the app stretches to at least the height of the screen */
}

/* Style for your main content area */
.content {
  flex: 1; /* This flex property ensures that the content section grows to occupy available space */
  padding: 20px; /* Add your desired padding */
  /* Add any additional styles for your content area */
}

/* Styles for the footer to ensure it stays at the bottom */
.footer {
  width: 100%;
  padding: 20px;
  background-color: #665984; /* Adjust the color as needed for your design */
  color: white;
  text-align: center;
  /* If you want a shadow on the footer, you can uncomment the next line */
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}

/* If you are using the Quantico font or any other custom font, specify it here */
body {
  font-family: 'Quantico', sans-serif; /* Replace with your font choice if different */
}

/* Add any additional global styles here */
.hero-section {
  background: #fff; /* This could be an image or a gradient */
  padding: 100px 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hero-section button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #7c4dff; /* Lavender Purple */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-section button:hover {
  background-color: #6a40ee;
}
